body {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	letter-spacing: 0.001em;
	padding: 0;
	margin: 0;
}

@font-face {
    font-weight: 700;
    font-family: "Gilroy ExtraBold";
    font-style: normal;
    src: url(../fonts/gilroyextrabold.woff) format("woff"),url(../fonts/gilroyextrabold.woff2) format("woff2")
}

@font-face {
    font-weight: 300;
    font-family: "Gilroy Light";
    font-style: normal;
    src: url(../fonts/gilroylight.woff) format("woff"),url(../fonts/gilroylight.woff2) format("woff2")
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    font-style: normal;
    src: url(../fonts/opensans.woff) format("woff"),url(../fonts/opensans.woff2) format("woff2")
}

@font-face {
    font-weight: 300;
    font-family: "Open Sans Light";
    font-style: normal;
    src: url(../fonts/opensanslight.woff) format("woff"),url(../fonts/opensanslight.woff2) format("woff2")
}

.container {
	width: 1160px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}

.top .container {
	position: relative;
	background-color: #f7e296;
}

.logo {
	position: absolute;
	top: -15px;
    left: 56px;
	font-family: "Gilroy ExtraBold","Arial",sans-serif;
	font-size: 48px;
	font-weight: 800;
	color: #000;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-decoration: none;
}

.navigation {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	line-height: 36px;
	padding: 39px 60px 10px 60px;
	margin-bottom: 20px;
}

.navigation .search-form {
	position: relative;
}

.navigation a {
	text-decoration: none;
	color: #000;
	letter-spacing: 0.001em;
}

.navigation .info {
	display: flex;
}

.navigation input[type="search"] {
	width: 315px;
	border: none;
	background-color: #f7e296;
	outline: none;
	padding-left: 39px;
	padding-bottom: 10px;
}

.search-form label {
	content: "";
	POSITION: absolute;
    top: 10px;
    left: 3px;;
	width: 16px;
	height: 16px;
	background: url(../img/search.png) no-repeat;
}

.search-form input::-webkit-input-placeholder {
	font-size: 15px;
	line-height: 36px;
	color: rgba(0,0,0, 0.3);
	font-family: 'Open Sans Light', "Arial", sans-serif;
}

.search-form input:-moz-placeholder{
	font-size: 15px;
	line-height: 36px;
	color: #000;
	font-family: 'Open Sans Light', "Arial", sans-serif;
}

.navigation input:hover::-webkit-input-placeholder {
	color: rgba(0,0,0,0.7);
}

.search-form input:hover:-moz-placeholder{
	color: rgba(0,0,0,0.7);
}

.navigation input[type="search"]:focus + input[type="submit"] {
	visibility: visible;
}

.navigation input[type="search"]:focus {
	border-bottom: 2px solid black;
}

.navigation input[type="submit"] {
	visibility: hidden;
	cursor: pointer;
	padding: 10px 15px;
	border: 2px solid black;
	background-color: transparent;
	margin-left: -5px;
}

.navigation input[type="submit"]:hover {
	color: #fff;
	background-color: #000;
}

.navigation input[type="submit"]:active {
	visibility: visible;
	outline: none;
	color: rgba(255,255,255,0.3);
}

.log-in {
	margin-left: -57px;
}

.log-in a,
.info a {
	position: relative;
}

.log-in a:before {
	content: "";
	position: absolute;
	top: 2px;
    left: -26px;
	width: 13px;
	height: 12px;
	background: url(../img/user.png) no-repeat;
}

.info .cart {
	margin-left: 65px;
}

.compare a:before {
	content: "";
	position: absolute;
	top: 4px;
    left: -20px;
	width: 10px;
	height: 10px;
	background: url(../img/compare.png) no-repeat;
}

.cart a:before {
	content: "";
	position: absolute;
	top: 2px;
    left: -23px;
	width: 12px;
	height: 12px;
	background: url(../img/cart.png) no-repeat;
}

.menu {
	padding-left: 59px;
	padding-right: 57px;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu .main-menu {
	display: flex;
	padding-bottom: 161px;
}

.main-menu .catalog {
	display: none;
}

.main-menu > li {
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	letter-spacing: 0.2em;
	position: relative;
}

.main-menu > li  > a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}

.main-menu > li:first-child:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 7px;
    right: -28px;
	background: url(../img/plus.png) no-repeat;
}

.main-menu li:first-child:hover  .catalog {
	display: block;
}

.main-menu > li:first-child {
	margin-right: 322px;
}

.main-menu > li:nth-child(3) {
	margin-left: 35px;
}

.main-menu > li:last-child {
	margin-left: 106px;
}

.catalog {
	position: relative;
}

.catalog .item-catalog {
	position: absolute;
	width: 585px;
}

.item-catalog li {
	display: inline-block;
}

.item-catalog li:first-child {
	margin-right: 60px;
}

.item-catalog li:nth-child(2) {
	margin-right: 70px;
}

.item-catalog li:nth-child(4) {
	margin-right: 87px;
}

.item-catalog li:last-child {
	display: block;
}
.item-catalog a {
	text-decoration: none;
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000;
	text-transform: normal;
	letter-spacing: 0.001em;
}

.slider-controls {
	position: absolute;
	top: 165px;
    right: 62px;
	z-index: 5;
}

.slider-controls label {
	display: inline-block;
	content: "";
	width: 4px;
	height: 4px;
	border: 3px solid grey;
	border-radius: 50%;
	margin-right: 20px;
	cursor: pointer;
}

.sliders {
	display: none;
	justify-content: space-between;
	padding-right: 57px;
	position: relative;
	top: -153px;
}

.sliders img {
	padding-left: 90px;
}

.slider-3 img {
	padding-left: 30px;
    padding-top: 65px;
}

.slider-3 .stage-description h2 {
	padding-right: 0;
}

input[name="slider-toggle"] {
	display: none;
}

#toggle-1:checked ~ .slider-1,
#toggle-2:checked ~ .slider-2,
#toggle-3:checked ~ .slider-3 {
	display: flex;
}

.stage-description {
	position: relative;
	/*padding-left: 124px;*/
	padding-top: 36px;
	width: 506px;
}

.stage-description:before {
	content: "";
	position: absolute;
	top: 38px;
	left: 3px;
	width: 100px;
	height: 7px;
	display: block;
	background-color: #fff;
}

.stage-description .numbers {
	color: #fff;
	position: absolute;
	right: -10px;
	top: -13px;
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 179.2px;
	line-height: 179.2px;
	letter-spacing: 0.001em;
	z-index: 1;
}

.stage-description h2 {
	position: relative;
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 54px;
	letter-spacing: 0.013em;
	padding-right: 105px;
	margin-top: 46px;
	margin-bottom: 21px;
	z-index: 2;
}

.stage-description p {
	margin: 0;
	padding-left: 3px;
	letter-spacing: 0.012em;
}

.stage-description p:last-of-type {
	letter-spacing: 0.01em;
	margin-bottom: 45px;
}

.stage-description .more-btn {
	position: relative;
	font-family: "Gilroy ExtraBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	display: inline-block;
	padding: 9px 39px 9px 45px;
}

.stage-description .more-btn:before {
	position: absolute;
	background-color: #f0c52e;
	content: "";
    top: 40%;
    left: 3px;
    width: 100%;
    height: 20%;
	z-index: -1;
}
	
.main-features {
	display: flex;
	margin-top: 58px;
    margin-left: 3px;
}

.main-features div {
	display: flex;
	flex-direction: column;
	margin-right: 78px;
}

.main-features div:last-child {
	margin-right: 0;
}

.main-features span:first-of-type {
	font-family: "Gilroy Light", "Arial", sans-serif;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 0.001em;
	padding-bottom: 14px;
}

.main-features span:last-of-type {
	font-family: "Gilroy Light", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.001em;
}